.htaccess
index.php
uploads/
blogs.dir/
upgrade/
backup-db/
advanced-cache.php
wp-cache-config.php
*.log
*.tmp
cache/
backups/

plugins/akismet/
plugins/allow-html-in-category-descriptions/
plugins/follow-category-feeds/
plugins/simple-footnotes/
plugins/hello.php
plugins/wordpress-beta-tester/

themes/twentyten
themes/twentyeleven
themes/twentytwelve
themes/twentythirteen